* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 375px;
}

.logo_text {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}
.be {
  color: #f25822;
}

.active {
  color: #f25822;
  font-family: "Gilroy-SemiBold";
}
.header_logo {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
header {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
  padding-top: 11px;
}
header a {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.main_img {
  display: flex;
  padding-top: 83px;
  padding-right: 64px;
  padding-bottom: 162px;
}
.main_text h1 {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 1px;
  width: 522px;
  padding-right: 41px;
}
.main_text p {
  color: #888;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 17px;
  padding-bottom: 37px;
  width: 466px;
}

.button {
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-orange {
  border-radius: 50px;
  background: #f25822;
  border-color: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  box-sizing: border-box;
  width: 140px;
  height: 50px;
}

.button-transparent {
  color: #aaa;
  border: none;
  background: transparent;
  margin-left: 72px;
}
.brand_logo {
  margin: 97px -30px;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url(./fonts/Gilroy-Semibold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(./fonts/Gilroy-Medium.ttf);
}
